*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #690202;
    border: #ff0000;
  }

  .glow {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #e5ff00, 0 0 20px #f2ff7d, 0 0 30px #2600ff;
    }
    to {
      text-shadow: 0 0 20px #ff0000, 0 0 30px #f35353, 0 0 40px #ff7171;
    }
  }

h2{
    padding: 30px;
}
  .container{
    background: #63a7ff;
    padding: 25px 35px;
    width: 550px;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
  }
  .container header{
    font-size: 25px;
    font-weight: 550;
    line-height: 30px;
  }
  .container form{
    margin: 20px 5px 10px 5px;
    position: relative;
  }
  .container form .field{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
  }
  form .field input{
    width: 100%;
    height: 100%;
    border: 1px solid #1800f1;
    padding-left: 16px;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    transition: all 0.4s;
  }
  form .field input:focus{
    border-color: #27ae60;
    box-shadow: inset 0 0 4px #2fd072;
  }
  form .field .showBtn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    user-select: none;
  }
  form .indicator{
    height: 10px;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  }
  form .indicator span{
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
  }
  form .indicator span:nth-child(0){
    margin: 0 4px;
  }
  form .indicator span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .indicator span.weak:before{
    background-color: red;
  }
  .indicator span.moderate:before{
    background-color: orange;
  }
  .indicator span.strong:before{
    background-color: blue;
  }
  .indicator span.uncrackable:before{
      background-color: green;
  }
  form .text{
    font-size: 18px;
    font-weight: 400;
    display: none;
    margin-bottom: -8px;
  }
  form .text.weak{
    color: red;
  }
  form .text.moderate{
    color: orange;
  }
  form .text.strong{
    color: blue;
  }
  form .text.uncrackable{
      color: green;
  }
  .gen {
    display: none;
  }